/* 
ESTILOS GENERALES 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

html{
    scroll-behavior: smooth;
}

/*
    NOTICIAS
*/

.news-section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
}

.news-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px #4441;
    transition: .5s;
}

.news-container::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #1a584b;
    border-radius: 100%;
    top: -100px;
    left: -100px;
    z-index: 100;
    transition: .5s;
}

.news-container::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #1a584b;
    border-radius: 100%;
    bottom: -100px;
    right: -100px;
    z-index: 100;
    transition: .5s;
}

.news-container:hover::after{
    top: -80px;
    left: -80px;
}

.news-container:hover::before{
    bottom: -80px;
    right: -80px;
}

.news-container:hover{
    transform: translateY(-10px);
}

.content-container{
    width: 50%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

/* INFORMACIÓN DEL SERVICIO */

.content-container .title-news-section{
    font-size: 35px;
    font-weight: 700;
    color: #1a584b;
    padding-bottom: 20px;
}

.content-container .information-news-section{
    font-size: 18px;
    font-weight: 500;
    color: #666;
    line-height: 1.5;
    padding-bottom: 20px;
}

.container-start-links{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: auto;
}

.start-link {
    background-color: #fff;
    padding: 15px 40px;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    margin: 20px 20px 0px 0px;
    font-size: 15px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    fill: #444;
    box-shadow: 0px 1px 3px 1px #4441;
    transition: .5s;
}
 
.start-link:hover{
    background-color: #1a584b;
    color: #fff;
    fill: #fff;
    transform: translateY(-5px);
}

.start-link span {
    font-weight: 700;
    margin-left: 10px;
}

/* NOTICIAS - CELULAR */

.cell-phone-frame{
    width: 50%;
    height: 95%;
    transition: .5s;
}

.cell-phone-frame:hover{
    transform: translateY(-10px);
    box-shadow: 0px 1px 3px 1px #4441;
}

/* SECCIÓN DE NOTICIAS - FRAME APLICACIÓN MÓVIL */

.nav-header{
    display: flex;
    background-color: #1a584b;
    justify-content: space-between;
    align-items: center;
    height: 8%;
}

.fa-bars{
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: #fff;
    width: 60%;
    border-radius: 10px;
}

.search-bar-logo-app{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.fa-magnifying-glass{
    color: #1a584b;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.search-bar-input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #444;
}

.container-image-user{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 20%;    
}

.container-image-user img{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.content{
    width: 100%;
    height: 57vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-sub-title{
    font-size: 25px;
    color: #1a584b;
    font-weight: 700;
    margin: 20px;
    margin-right: auto;
    margin-bottom: 5px;
}

.news{
    width: 90%;
    height: 25%;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 3px 1px #4443;
    margin: 10px 0px;
    transition: .5s;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.news:hover{
    transform: translateY(-5px);
}

.news-image{
    width: 30%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.new-image1{
    background-image: url('../images/secction-news/new1.jpg');
}

.new-image2{
    background-image: url('../images/secction-news/new2.jpg');
}

.new-image3{
    background-image: url('../images/secction-news/new3.jpg');
}

.news-content{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.news-title{
    font-size: 15px;
    color: #555;
    font-weight: 700;
    padding: 10px;
}

.news-button{
    background-color: #1a584b;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: .5s;
    border: 0;
    width: 40%;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.news-button:hover{
    background-color: #1a584b;
    color: #fff;
    transform: translateY(-5px);
}

.news-button i{
    padding-right: 10px;
}

.nav-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a584b;
    height: 10%;
}

.nav-bottom i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}