/* 
ESTILOS GENERALES 
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

html{
    scroll-behavior: smooth;
}

/*
SECCIÓN
    TÉRMINOS Y CONDICIONES
*/

.terms-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.terms-title-section{
    color: #222;
    font-size: 40px;
    margin-bottom: 35px;
}

.terms-container{
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 0 300px;
}

/* TABLA DE CONTENIDO */

.index-topics-container{
    margin-right: 100px;
    width: 20%;
    position: sticky;
    top: 120px;
    z-index: 10;
    height: 100%;
}

.index-topics-title-container{
    color: #444;
    font-size: 25px;
    margin-bottom: 30px
}

.index-topics-list{
    list-style: none;
}

.index-topics-list li{
    margin-bottom: 30px;
}

.index-topics-list li a{
    color: #444;
    text-decoration: none;
    font-size: 14px;
}

.index-topics-list li a:hover{
    color: #1a584b;
    text-decoration: underline;
}

.index-topics-list i{
    margin-right: 10px;
}

/* CONTENIDO */

.terms-content-container{
    width: 80%;
}

.terms-content-information{
    color: #444;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.terms-subtitle{
    color: #444;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
    scroll-margin-top: 90px;

}

.terms-content{
    color: #444;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.terms-use-list{
    list-style: none;
}

.terms-use-list li{
    margin-bottom: 20px;
    color: #444;
}

.terms-use-list strong{
    color: #444;
    font-weight: 700;
}

.terms-content a{
    color: #1a584b;
    text-decoration: none;
    font-weight: 700;
}

.terms-content a:hover{
    text-decoration: underline;
}